@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#000;
    overflow-x: hidden
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}